@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&display=swap');
body{
    
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}
section{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    background-color: #121214;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-weight: 600;
    
}

p{
    color: #9C9C9C;
}

.container-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 700px;  
    justify-content: space-between;
}


.box{
    
    width: 150px;
    
}
.user{
    width: 160px;
    font-weight: 600;
    }

.user img{
    width: 160px;
}


button{
    margin-bottom: 200px;
    background-color: #121214;
    color: white;
    border-style: outset;
    border-color: white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-weight: 500;
}

